html,
body {
    height: 100%;
}


/*#wrapper {
    min-height: 100vh;
    position: relative;
    top: 0;
}*/


/*#wrapper {
    -webkit-transform: translate3d(0px, 0, 0);
    -moz-transform: translate3d(0px, 0, 0);
    -o-transform: translate3d(0px, 0, 0);
    -ms-transform: translate3d(0px, 0, 0);
    transform: translate3d(0px, 0, 0);
    -webkit-transition: all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1);
    -moz-transition: all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1);
    -o-transition: all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1);
    -ms-transition: all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1);
    transition: all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1);
    left: 0;
    background-color: white;
}*/


/* Toggle Styles */

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 260px;
    width: 0;
    height: 100%;
    background: #000;
    margin-left: -260px;
    overflow-y: auto;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#main-panel {
    width: 100%;
    max-height: 100%;
    position: relative;
    padding: 0;
    margin: auto;
    overflow: auto;
}

#wrapper.toggled #sidebar-wrapper {
    width: 260px;
}

#wrapper.toggled #main-panel {
    margin-right: -260px;
}

#menu-toggle {
    display: block;
}

#wrapper.toggled #main-panel .header-nav {
    padding-left: 260px;
}

@media (min-width: 992px) {
    #wrapper {
        padding-left: 260px;
        -webkit-transition: all 0.7s ease;
        -moz-transition: all 0.7s ease;
        -o-transition: all 0.7s ease;
        transition: all 0.7s ease;
    }
    #sidebar-wrapper {
        width: 260px;
        -webkit-transition: all 0.7s ease;
        -moz-transition: all 0.7s ease;
        -o-transition: all 0.7s ease;
        transition: all 0.7s ease;
    }
    #wrapper.toggled #main-panel {
        margin-right: 0px;
    }
    /* Toggle is not available on medium and large screen
/*    #wrapper.toggled {
        padding-left: 0;
    }
    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }
    #wrapper.toggled #main-panel {
        position: relative;
        margin-right: 0;
    }
    #menu-toggle {
        display: none !important;
    }*/
}


/*----- Leave space for footer in sidebar-----*/

.sidebar-wrapper {
    padding-bottom: 160px;
}


/*----- side navigation bar -----*/

#side-nav nav {
    font-size: 14px;
    padding: 12px 0 10px 0;
    color: rgba(255, 255, 255, 0.9);
    font-weight: bold;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
}

#side-nav .list-group-item {
    background-color: transparent;
    border: 0;
    margin-left: 20px;
}

#side-nav .list-group a {
    color: #ffffff;
    font-weight: 600;
}

#side-nav .list-group a:hover,
#side-nav .list-group a:focus,
{
    color: rgba(0, 255, 0, 0.78);
    font-weight: bold;
}

#side-nav .list-group .list-group-item .active {
    color: #00C2C4;
    font-weight: bold;
}

.panel-sidenav {
    background-color: rgba(0, 0, 0, 0.1);
    border: 0;
    margin-bottom: 0;
}

.panel-default>.panel-heading {
    color: #ffffff;
    font-weight: 600;
    background-color: rgba(0, 0, 0, 0.1);
    border-color: rgba(255, 255, 255, 0.3);
}

.sidebar .logo {
    padding: 18px 15px 6px 15px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}


/*----- footer-----*/

.footer {
    font-weight: normal;
    position: absolute;
    width: 100%;
    bottom: 0;
    border-top: 1px solid #e0e0e0;
    padding: 24px;
    background-color: rgba(0, 0, 0, 0.1);
}

.footer .copyright {
    color: rgba(255, 255, 255, 0.9);
    padding: 0px;
    margin: auto;
    line-height: 20px;
    font-size: 14px;
}

.footer hr {
    margin-top: 8px;
    margin-bottom: 8px;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
}

.footer a {
    left: 32px;
    color: rgba(255, 255, 255, 0.9);
    font-size: 16px;
}


/*----- Set styles for top header -----*/

#main-panel .header-nav nav .container-fluid .nav-menu {
    float: left;
}

#main-panel .header-nav nav .container-fluid .navbar-header {
    margin-left: 20px;
    margin-top: 5px;
    overflow: hidden;
}

#main-panel .content .container-fluid {
    max-width: 1160px;
    margin: auto;
}

#main-panel > .content {
    position: relative;
    /* Leave space for fixed top header for screen < 992px */
    padding-top: 85px;
}

#menu-toggle {
    margin-top: 15px;
    margin-bottom: 5px;
    font-size: 20px;
    border: 0px;
}

@media (min-width: 992px) {
    #main-panel .header-nav nav .container-fluid .nav-menu {
        display: none;
    }
    #main-panel .header-nav {
        position: relative;
        top: 0;
    }
    #main-panel > .content {
        /* Leave space for fixed top header for screen >= 992px */
        padding-top: 20px;
    }
}


/*----- Format hero image and welcome message -----*/

#hero-container {
    max-width: 1200px;
    max-height: 600px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background: #392f28;
    position: relative;
    color: #ffffff;
    overflow: hidden;
}

#hero-container h1 {
    font-size: 4.1em;
    font-weight: bold;
    margin: auto;
    position: absolute;
    top: 180px;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}

#hero-container p {
    font-size: 1.5em;
    margin: auto;
    position: absolute;
    top: 260px;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}

#hero-container img {
    width: 100%;
    /*background-size: cover;*/
    -webkit-filter: grayscale(100%);
    /* Chrome, Safari, Opera */
    filter: grayscale(100%);
}

.hero-img-msg {
    position: absolute;
    top: 50%;
    left: 50%;
    /*transform: translate(-50%, -50%);*/
    font-size: 18px;
}

@media all and (max-width: 768px) {
    /*    #hero-container {
        height: 50vw;
    }*/
    #hero-container h1 {
        font-size: 8vw;
        top: 13vw;
    }
    #hero-container p {
        font-size: 3vw;
        top: 27vw;
    }
}


/*----- Quick links on Home Page -----*/

.homepage-block-container {
    width: 100%;
    height: auto;
    margin-bottom: 40px;
    position: relative;
    float: left;
}

.shortcut-cell {
    /*  width: 45%; 
  width: 50%;*/
    /*height: 400px;*/
    /*margin: 8px;*/
    padding: 0;
}

.shortcut-cell-left {
    float: left;
}

.shortcut-cell-right {
    float: right;
}

.cell-small {
    /*width: 20%;  fallback if needed */
    width: calc(100% - 16px);
    height: 184px;
    background-color: #00C2C4;
    display: inline-block;
    margin: 8px;
    text-align: center;
    border-radius: 5px;
}

@media (min-width: 768px) {
    .cell-small {
        width: calc(50% - 16px);
    }
}

.cell-large {
    /*float: left;*/
    /*width: 20%;  fallback if needed */
    width: calc(100% - 16px);
    height: 384px;
    background-color: #00C2C4;
    display: inline-block;
    margin: 8px;
    text-align: center;
    border-radius: 5px;
}

.cell-img {
    width: calc(100% - 32px);
    max-height: calc(100% - 80px);
    max-width: 160px;
    display: block;
    margin: auto;
    margin-top: 16px;
}

.cell-img-large {
    max-width: 320px;
    margin-top: 32px;
}

.cell-small h4,
.cell-large h4 {
    margin-top: 4px;
    margin-bottom: 4px;
    color: rgba(255, 255, 255, 255.9);
}

.cell-large h4 {
    margin-top: 12px;
}


/*----- Chapter Content -----*/

.chapter-container .section {
    margin-bottom: 0px;
}

.chapter-container .chapter-body .section-list:first-child::before {
    content: " ";
    display: block;
    height: 40px;
    margin-top: 0;
    visibility: hidden;
}

.chapter-container::before {
    content: " ";
    display: block;
    height: 60px;
    margin-top: 0;
    visibility: hidden;
}

#home::before {
    content: " ";
    display: block;
    height: 0;
    margin-top: 0;
    visibility: hidden;
}

.section,
.section-title,
.section-content {
    display: block;
    clear: both;
}

.chapter-container .chapter-title h1 {
    color: #00C2C4;
    font-weight: 500;
}

.chapter-container .chapter-body .section-list > .section > .section-title {
    border-top: 1px solid rgba(0, 0, 0, 0.12);
}

.chapter-container .chapter-body .section-list > .section > .section-title > h4 {
    padding: 16px 0 12px;
    margin: 0;
}

.chapter-title-font {
    margin: 60px 0 40px 0;
}

.chapter-container .chapter-body .section-list:last-child {
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.chapter-container > .chapter-body > .chapter-intro {
    font-size: 20px;
    line-height: 32px;
    margin-bottom: 0;
    padding: 0 38px 40px 0;
}

.chapter-container .chapter-body .chapter-topics {
    border-left: 5px solid #00C2C4;
    padding-left: 20px;
    margin-bottom: 60px;
}

.chapter-container .chapter-body .chapter-topics ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
}

.chapter-container .chapter-body .chapter-topics h6 {
    font-size: 14px;
    line-height: 16px;
    padding-bottom: 12px;
    font-weight: 400;
    color: #757575;
}

.chapter-container .chapter-body .chapter-topics li {
    font-size: 18px;
    line-height: 40px;
}

@media screen and (min-width: 768px) {
    .chapter-container> .chapter-body > .chapter-intro {
        width: 760px;
    }
}

@media screen and (min-width: 1200px) {
    .chapter-container> .chapter-body > .chapter-intro {
        width: 960px;
    }
}

.section-content {
    padding-bottom: 80px;
    display: none;
}

.chapter-intro p,
.section-content p,
.section-content ul {
    max-width: 760px;
}

.section-content .module-d p {
    max-width: 1160px;
}

.section .section-content h5 {
    font-weight: 700;
    padding-top: 20px;
    margin-bottom: 10px;
}

.section-content ul li,
.section-content ol li {
    font-size: 16px;
    line-height: 1.5;
}

.module {
    border: none;
    display: inline-block;
    margin: 0 auto 20px;
    overflow: hidden;
    padding: 0;
    padding-bottom: 20px;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.chapter-body .section-list .section .section-content .module:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
}

.module .module-body {
    display: inline-block;
    float: left;
    padding: 0;
}

.module .module-body ol.style-letter {
    list-style: lower-alpha;
}



.module-figure {
    padding: 0 0 20px 20px;
}

.module-c .module-figure-left-align {
    padding: 0 20px 20px 0px;
}

.module img {
    width: 100%;
    height: auto;
}

.module-b .module-figure-w-title:nth-child(odd) {
    padding: 0 8px 20px 0;
}

.module-b .module-figure-w-title:nth-child(even) {
    padding: 0 0 20px 8px;
}

.module-b .module-figure-w-title .module-figure-body {
    border: 2px solid #00C2C4;
}

.module-b .module-figure-w-title .module-figure-title {
    background-color: #00C2C4;
    margin-bottom: 0;
    padding: 10px 0 10px 0;
    text-align: center;
}

.module-b .module-figure-w-title .module-figure-title p {
    margin: 0;
    color: white;
    font-weight: 500;
}


.module-d img {
    float: right;
    max-width: 380px;
    width: 40%;
    margin: 0 0 20px 20px;
}

.module-d h3 span {
    text-transform: capitalize;;
    color: red;
}



@media screen and (max-width: 767px) {
    .module-figure {
        padding: 0px;
    }
    .module-b .module-figure-w-title:nth-child(odd), .module-b .module-figure-w-title:nth-child(even) {
        padding: 0 0 20px 0;
    }

    .module-d img {
        width: 100%;
        max-width: 100%;
        margin: 0 0 20px 0;
    }

}

@media screen and (max-width: 768px) {
    .chapter-container .chapter-body .chapter-topics {
        display: none !important;
    }
}

.section-content .module .module-figure figcaption {
    box-sizing: border-box;
}

.section-content .module .module-figure figcaption p {
    color: #616161;
    font-size: 14px;
    line-height: 24px;
}

a,
a:hover {
    color: #00C2C4;
    text-decoration: none;
    background-color: transparent;
}

a:focus {
    text-decoration: none;
}

#side-nav .list-group a:hover {
    color: #00C2C4;
    opacity: 1;
}